body{
    background-image: url("wood.jpg");

}

a{
    color:white;
    font-weight:bold;
    font-size:24px;

}

#Header {
    width: 500px;
}

#LeftNav {
    float: left;
    width: 400px;
    padding-right: 8px;
    border: solid 8px black;
    text-align:center;
}

#Content {
    width: 700px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    padding:15px;
    border: solid 8px black;
    text-align:center;
}

#Footer {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border: solid 8px black;
    text-align:center;
}

ul{
    list-style-type: none;
    padding-left:0px;

}

#Header h1{
    font-size: 60px;
    font-family: "Passion One";
    color:#e2932b;
    font-weight: bold;
}

p{
    color: white;
    font-weight: bold;
    font-family: "Arial";
}

h3{
    color:burlywood;
    font-weight:40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

div{
    background-color: blueviolet;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    border: solid 8px black;
    text-align:center;
    border-bottom: 5px solid red;
   
}

